body {
  background: #3278be;
}
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main-section{
  background:transparent;
  max-width: 600px;
  width: 90%;
  height: 50px;
  margin: 30px auto;
}
.clock-holder{
  width: 100%;
  background:lightcyan;
  margin: 30px auto;
  position: relative;
}
.secundomer{
  padding: 60px 0px;
  text-align: center;
}
.secundomer span{
  background: lightsteelblue;
  color:#fff;
  display: inline-block;
  font-family: serif;
  font-size: 22px;
  padding: 20px;
  background-repeat: 5px;
  width: 70px;
}
.secundomer .secundomer-btn {
  background: rgba(206, 212, 212, 0.856);
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}
.secundomer .secundomer-btn-red{
  border: 2px solid tomato;
  color:tomato;
}
.secundomer .secundomer-btn-yel{
  border: 2px solid rgba(255, 255, 0, 0.555);
  color:rgba(255, 255, 0, 0.568);
}
.secundomer .secundomer-btn-gre{
  border: 2px solid green;
  color:rgba(48, 48, 37, 0.911);
}
.secundomer .secundomer-btn-red:hover{
  background: tomato;
  border: 2px solid tomato;
  color:rgba(48, 48, 37, 0.911);
}
.secundomer .secundomer-btn-yel:hover{
  background: rgba(255, 255, 0, 0.315);
  border: 2px solid rgba(255, 255, 0, 0.568);
  color:rgba(48, 48, 37, 0.911);
}
.secundomer .secundomer-btn-gre:hover{
  background: green;
  border: 2px solid green;
  color:rgba(48, 48, 37, 0.911);
}